.nav li {
  display: inline-block;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

.heading {
  background-color: #C06014;
}

.body {
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
