.nav li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  position: relative;
  top: 10px;
}

.nav ul {
  text-align: center;
  margin-bottom: 0;
}

.heading {
  background-color: #C06014;
  box-shadow: 0px 7px 7px #888888;
  z-index: 10;
  position: fixed;
  width: 100%;
}

body {
  margin: 0;
}

.body {
  top: 12%;
  position: relative;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 10px;
  margin-right: 10px;
}

.slideshow p{
  margin-bottom: 0;
}

.slideshow {
  background-image: url(http://owenlanphear.github.io/617style/3lZX3wM.jpg);
  margin-top: 0;
}

.content {
  box-shadow: 0px -5px 7px #888888;
}
.content h1 {
  margin-top: 0;
}
.slideshow h1 {
  margin-top: 0;
}
