/*NAV ITEMS*/
.nav li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  position: relative;
  top: 10px;
}
.nav h1 {
  text-align: center;
}
.nav ul {
  text-align: center;
  margin-bottom: 0;
}



/*HEADING ITEMS*/
.heading {
  background-color: #F5F5F5;
  box-shadow: 0px 9px 20px #000000;
  z-index: 10;
  position: fixed;
  width: 100%;
}



/*BODY ITEMS*/
body {
  margin: 0;
  background-color: #F5F5F5;
}

.body {
  top: 22%;
  position: relative;
}



/*SLIDESHOW ITEMS*/
.slideshow p{
  padding-top: 25px;
  margin-bottom: 0;
}

.slideshow {
  background-image: url(http://owenlanphear.github.io/617style/3lZX3wM.jpg);
  margin-top: 0;
  color: whitesmoke;
  background-size: 100%;
  background-position: 0 72%;
  height: 300px;
}

.slideshow h1 {
  margin-top: 0;
  padding-top: 15px;
}



/*CONTENT ITEMS*/
.content {
  box-shadow: 0px -5px 7px #000000;
  background-color: #F5F5F5;
}

.content h1 {
  margin-top: 0;
}



/*GENERAL ITEMS*/
p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 10px;
  margin-right: 10px;
}
